@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --titleFont: 'VALORANT', sans-serif;
  --accent: #ff4655; 
  --dark: #2d2d2d;
  --dark2: #1b1b1b;
  --accent2: #6cece5;
  --color1: #f0f0f0;
  --success: #4BB543;
  --bg: #000409;
  --surface62: rgba(6, 3, 22, 0.434);  /* 62% transparency */
  --surface77: rgba(6, 3, 22, 0.652);  /* 77% transparency */
  --surface99: rgba(6, 3, 22, 0.81);
  --athena: "Rubik Mono One", serif; /* athena font */
  --athenaColor: #32cd33;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color1);
}

body::-webkit-scrollbar{
  width: 5px;
  background: var(--bg);
}

body::-webkit-scrollbar-thumb {
  background: #2D2D2D; 
  border-radius: 10px;
  visibility: visible;
}
body {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-thumb:hover {
  background: #424141ce;
}