@import url('https://fonts.cdnfonts.com/css/valorant');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --titleFont: 'VALORANT', sans-serif;
  --accent: #ff4655; 
  --dark: #2d2d2d;
  --accent2: #6cece5;
  --color1: #f0f0f0;
  --success: #4BB543;
  --bg: #03010c;
  --surface62: rgba(6, 3, 22, 0.434);  /* 62% transparency */
  --surface77: rgba(6, 3, 22, 0.652);  /* 77% transparency */
  --surface99: rgba(6, 3, 22, 0.81);

}

* {
  margin: 0;
  padding: 0;
  color: var(--color1);
}

body::-webkit-scrollbar{
  width: 5px;
  background: var(--bg);
}

body::-webkit-scrollbar-thumb {
  background: #2D2D2D; 
  border-radius: 10px;
  visibility: visible;
}
body {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-thumb:hover {
  background: #424141ce;
}